/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 */



/********************************************************

             application base styles

********************************************************/

body {
    background: #f2f2f2 url('/assets/bg_noise.png');
	padding:50px;
}

.news-container{
    width:400px;
}

a {
	color: #0081cb;
	text-decoration: none;
}
/********************************************************

			elements

********************************************************/

td, th{
	padding: 10px;
	vertical-align: top;
	text-align: left;
}

th{
	background: #ddd;
}

.loading {
	min-height: 100px;
	position:relative;
}

.loading__indicator{
	background: url('/assets/bg_loader.gif') no-repeat 0 0;
	position: absolute;
	height: 36px;
	width: 36px;
	text-indent: -10000em;
	top:50%;
	left:50%;
	margin-left: -18px;
	margin-top: -18px;
	display: none;
}

.loading .loading__indicator{
	display: block;
}

time{
	color:#aaa;
	font-size: 80%;
}

h1 {
	margin: 0.2em 0;
}
/********************************************************

	List

	iPhone-like list of items, e.g. news
	with gradient-background items and full link area

	html example

	<div class="list-wrapper">
		<ul class="list">
			<li class="list__item">
				<a class="list__item__linkArea" href="#expand_new">
					<h2 class="list__item__title title">Title</h2>
					<p class="list__item__teaser teaser">Teaser</p>
				</a>
			</li>
		</ul>
	</div>

********************************************************/

.list-wrapper{
	margin:0 0 2em;
	padding:0;
	border:2px solid #c9d1e0;
	border-radius: 10px;
	overflow: hidden;
	background: #fff;
}

.list {
	margin:0;
	padding:0
}

.list__item {
    padding:0;
    margin:0;
    list-style:none;
}

.list__item__title{
    margin:0 0 0.3em;
	padding:0;
	font-weight: normal;
	font-size: 140%;
}

.list__item__teaser{
	margin:0 0 0.5em;
	color:#777;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 90%;
	line-height: 1.4;
}

.list__item__linkArea{
	display:block;
	cursor: pointer;
	padding:0.6em 0.8em;
	text-decoration: none;
	border-bottom:1px solid #c9d1e0;
	border-top: 1px solid #fff;
	background: #ffffff;
	background: -moz-linear-gradient(top, #fafaff 0%, #e8eef2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafaff), color-stop(100%,#e8eef2));
	background: -webkit-linear-gradient(top,  #fafaff 0%,#e8eef2 100%);
	background: -o-linear-gradient(top,  #fafaff 0%,#e8eef2 100%);
	background: -ms-linear-gradient(top,  #fafaff 0%,#e8eef2 100%);
	background: linear-gradient(to bottom,  #fafaff 0%,#e8eef2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaff', endColorstr='#e8eef2',GradientType=0 );
}

.list__item__linkArea:hover {
	background: #fafaff;
	filter:none;
}

.list__item:last-child .list__item__linkArea{
	border-bottom:none;
}

.list__item__linkArea .list__item__title{
	color: #0081cb;
}



/********************************************************

				 post

********************************************************/
.post{
	padding:0.6em 0.8em;
	background:#fafaff;
}



