<article class="news-container">
	<div class="list-wrapper js-news-list loading">
		<i class="loading__indicator">Loading&hellip;</i>
	</div>
</article>


<script>
	var NewsList = new List(document.getElementsByClassName('js-news-list'), 'posts');
</script>