<!DOCTYPE html>
<html>
<head>
  <title>XSLT Client-Side</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

	<script src="/assets/helper.js"></script>
	<script src="/assets/modules/List.js"></script>
	<script src="/assets/modules/Post.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
